= link_to 'New Post', new_post_path
- @posts.each do |post|
  .media
    .media-body
      %strong #{ post.poster.name } :
      = link_to "#{ post.headline }", post
      -if post.poster_id == current_user.id
        = link_to 'Edit', edit_post_path(post)
        = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
      %h4.media-heading= post.detail