
%p#notice= notice
= link_to 'Edit', edit_post_path(@post)
|
\#{link_to 'Back', posts_path}
.media
	.media-left
		%h4.media-heading #{ @post.poster.first_name }:
	.media-body
		%h4.media-heading #{ @post.headline }
		%p= @post.detail
	= render 'comments/form'
	= render @post.comments